.xylophone {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    height: 750px;
}

.keys {
    border-radius: 5px;
    border-width: 2px;
    cursor: pointer;
    background-color: white;
    font-size: 25px;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 5px;
}

.doKey {
    height: 95%;
}

.doKey:hover {
    background-color: red;
    border-color: red;
    font-weight: bolder;
}

.reKey {
    height: 85%;
}

.reKey:hover {
    background-color: orange;
    border-color: orange;
    font-weight: bolder;
}

.miKey {
    height: 75%;
}

.miKey:hover {
    background-color: #ffd500;
    border-color: #ffd500;
    font-weight: bolder;
}

.faKey {
    height: 65%;
}

.faKey:hover {
    background-color: green;
    border-color: green;
    font-weight: bolder;
}

.soKey {
    height: 55%;
}

.soKey:hover {
    background-color: blue;
    border-color: blue;
    font-weight: bolder;
}

.laKey {
    height: 45%;
}

.laKey:hover {
    background-color: indigo;
    border-color: indigo;
    font-weight: bolder;
}

.tiKey {
    height: 35%;
}

.tiKey:hover {
    background-color: violet;
    border-color: violet;
    font-weight: bolder;
}

.doKeyTwo {
    height: 25%;
    margin-right: unset;
}

.doKeyTwo:hover {
    background-color: red;
    border-color: red;
    font-weight: bolder;
}

.reset {
    border-radius: 50%;
    padding: 25px;
    font-size: 20px;
}

.reset:hover {
    background-color: red;
    color: white;
    font-weight: bolder;
}